<a href="https://colab.research.google.com/github/SAKHAWT-HOSEN/OOP-LAB-DIU-/blob/master/week_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating list
lst0=[2,3,5,6,7,8,9,33,55,"python",[4,64,7]]
print(lst0)
lst1=[]
print(lst1)
lst2=list()
print(lst2)

In [7]:
#iterationg list

lst0=[2,3,5,6,7,8,9,33,55,"python",[4,64,7]]
for i in lst0:
    print(i,end=' ')
print ('')

2 3 5 6 7 8 9 33 55 python [4, 64, 7]

In [9]:
# iterating list
lst0=[2,3,5,6,7,8,9,33,55,"python",[4,64,7]]
print(lst0[2])
print(lst0[5])
print(lst0[-3])
print(lst0[-8])

5
8
55
6

In [10]:
#List operations
lst0=[2,3,5,6,7,8,9,33,55,"python",[4,64,7]]
print(len(lst0))
lst0.append([14,65,2,6])
print(lst0)
lst0.insert(5,"pandas")
print(lst0)
lst0.remove(6)
print(lst0)
print(lst0.index("python"))
print(lst0.count('pandas'))
print(lst0.reverse())
lst1=lst0.copy()
print(lst1)
lst0.clear()
print(lst0)

11
[2, 3, 5, 6, 7, 8, 9, 33, 55, 'python', [4, 64, 7], [14, 65, 2, 6]]
[2, 3, 5, 6, 7, 'pandas', 8, 9, 33, 55, 'python', [4, 64, 7], [14, 65, 2, 6]]
[2, 3, 5, 7, 'pandas', 8, 9, 33, 55, 'python', [4, 64, 7], [14, 65, 2, 6]]
9
1
None
[[14, 65, 2, 6], [4, 64, 7], 'python', 55, 33, 9, 8, 'pandas', 7, 5, 3, 2]
[]

In [11]:
#list Slicing
lst0=[2,3,5,6,7,8,9,33,55,"python",[4,64,7]]
print(lst0[6:7])
print(lst0[4:])
print(lst0[:5])
print(lst0[:])

[9]
[7, 8, 9, 33, 55, 'python', [4, 64, 7]]
[2, 3, 5, 6, 7]
[2, 3, 5, 6, 7, 8, 9, 33, 55, 'python', [4, 64, 7]]

In [12]:
#list sorting

lst3=[1,3,5,6,7,8,5,4,6,7,8,]
lst4=sorted(lst3)
print(lst4)
print(lst3)
lst3.sort()
print(lst3)

[1, 3, 4, 5, 5, 6, 6, 7, 7, 8, 8]
[1, 3, 5, 6, 7, 8, 5, 4, 6, 7, 8]
[1, 3, 4, 5, 5, 6, 6, 7, 7, 8, 8]

In [14]:
#creating tuple

tp0=(3,4,6,4,33,44,55,56,6,"python",[4,55,6])
print(tp0)
tp1=()
print(tp1)
tp2=tuple()
print(tp2)

(3, 4, 6, 4, 33, 44, 55, 56, 6, 'python', [4, 55, 6])
()
()

In [15]:
#iterating tuple

tp0=(3,4,6,4,33,44,55,56,6,"python",[4,55,6])
for i in tp0:
  print(i,end=' ')
print('')

3 4 6 4 33 44 55 56 6 python [4, 55, 6]

In [16]:
#iterating tuple

tp0=(3,4,6,4,33,44,55,56,6,"python",[4,55,6])
print(tp0[4])
print(tp0[7])
print(tp0[-3])
print(tp0[-5])

33
56
6
55

In [17]:
#inserting into tuple 
tp0=(3,4,6,4,33,44,55,56,6,"python",[4,55,6])
tp0+=("pandas", 3332,55,6,67)
print(tp0)

(3, 4, 6, 4, 33, 44, 55, 56, 6, 'python', [4, 55, 6], 'pandas', 3332, 55, 6, 67)

In [23]:
#unpacking sequences

lst=[7,8,9,33,88]
a,b,c,d,e=lst
print(a)
print(b)
print(c)
print(d)
print(e)

7
8
9
33
88

In [26]:
#unpacking sequences
tp=(3,5,7,555,443)
a,b,c,d,e=tp
print(a)
print(b)
print(c)
print(d)
print(e)

3
5
7
555
443